@model IEnumerable<mvc_05ViewData_ViewBag.Models.Employee>

@using mvc_05ViewData_ViewBag.Models;

@{
    ViewBag.Title = "Employee List";
}

<div style="font-family:Arial">
<h2>Employee List</h2>

<ul>
    @foreach (Employee employee in @Model)
    {
        <li>
            @Html.ActionLink(employee.Name, "Details", new { id = employee.EmployeeId })
        </li>
    }
</ul>

</div>