@model Mvc_Demo.Models.Company

@{
    ViewBag.Title = "Index";
}

<h2>Html Helpers</h2>


@*@Html.DropDownList("Departments", new List<SelectListItem>
{
    new SelectListItem { Text = "IT", Value = "1", Selected=true},
    new SelectListItem { Text = "HR", Value = "2"},
    new SelectListItem { Text = "Payroll", Value = "3"}
}, "Select Department")*@ 

@*@Html.TextBox("CompanyName", (string)ViewBag.CompanyName)
<br />
@Html.DropDownList("Departments", "Select Department")*@ 

@using(Html.BeginForm())
{
    foreach (var department in Model.Departments)
    {
        @Html.RadioButtonFor(m => m.SelectedDepartment, department.Id, 
        (department.IsSelected.HasValue && department.IsSelected.Value) ? new { @checked = "checked"} : null
        )@department.Name
        <br />
    }
    <br />
    <br />
    <input type="submit" value="Submit" />
}