@model Mvc_Demo.Models.Company

@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>

@Html.TextAreaFor(m=>m.CompanyName)
<br />
@Html.DropDownListFor(m=>m.Departments, new SelectList(Model.Departments, "Id", "Name"), "Select Department")