<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DifferentLayout</title>
</head>
<body>
    <div>
        <h3>This is different layout</h3>
        @RenderBody()
    </div>
</body>
</html>
