<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>User</title>

</head>
<body>
    <form method="post" action="User">
        <h2>User</h2>

        <div>
            <label>Username : </label>
            <input id="kullanici" name="kullanici" type="text" />
            <br />
            <label>Password: </label>
            <input id="sifre" name="sifre" type="password" />
            <br />
            <input id="kaydet" type="submit" value="Kaydet" />
        </div>
    </form>
</body>
</html>
